<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DWMGbeta010.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <userSettings>
        <DWMGbeta010.My.MySettings>
            <setting name="bOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sEQLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="drawPWndLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="drawSWndSize" serializeAs="String">
                <value>575, 740</value>
            </setting>
            <setting name="dLastOpacity" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="bAutoSwitchMaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bMapDataVisible" serializeAs="String">
                <value>False</value>
            </setting>
        </DWMGbeta010.My.MySettings>
    </userSettings>
</configuration>
